<!-- About Section -->
<section class="about-am" id="about">
  <h2 class="who-am-i" id="about">Who am I?</h2>
  <p>I am passionate Frontend developer.</p>
  <div class="who-am-i-content">
    <div>
      <p>
        I'm proficient working with HTML5, CSS3, JavaScript, React and have 2
        years of experience building responsive user interfaces.
      </p>
      <p>
        Currently, I am working as software engineer at
        <span
          ><a href="https://welcome.epam.in/" target="_blank"
            >Epam Systems</a
          ></span
        >
        where I work on new technologies and interesting projects. These days I
        am exploring web components and how they can be used like normal html
        tag throughout an application.
      </p>
      <a href="ankit-mangal.pdf" download>
        <button class="resume">Download Resume</button>
      </a>
    </div>
    <div class="question-mark">?</div>
  </div>
</section>
