<!-- Experience Section -->
<section class="exp-container" id="experience">
  <h2>Experience</h2>
  <div class="experience">
    <div class="exp-content">
      <h3>
        EPAM -<span> Frontend Developer</span> &#8226;
        <span>[04/2023 - Present]</span>
      </h3>
      <ul>
        <li>Working on different client projects.</li>
        <li>Writing code that is scalable, testable, & high-quality.</li>
        <li>
          Exploring new technologies like LitElements (JavaScript library to
          create web components faster).
        </li>
        <li>
          Testing code using Jest, & React testing Library, Sauce labs and
          Nightwatch.js for end-to-end testing, JMeter for performance testing,
          & accessibility testing.
        </li>
        <li>
          Technologies I use HTML5, CSS, JavaScript (ES6), Modern JavaScript
          Frameworks React and Next.js, & Redux for state management.
        </li>
        <li>Following practices like clean code and SOLID Principles.</li>
      </ul>
      <p class="technologies">
        <span>Technologies: </span>HTML5, CSS3, SASS, TypeScript, JavaScript,
        React, Next.js, Nightwatch, Sauce Labs
      </p>
    </div>
  </div>
</section>
