<header class="navigation">
  <div class="menu">
    <p class="logo-am">Ankit Mangal</p>
    <div>
      <span><i class="fa-solid fa-bars"></i></span>
    </div>
    <nav class="bigscreen-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#social">Social</a></li>
      </ul>
    </nav>
  </div>
  <div class="smallscreen-nav">
    <div>
      <span><i class="fa-solid fa-xmark"></i></span>
    </div>
    <div>
      <nav class="mobile-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#social">Social</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
