<!-- Social Section -->
<section class="social" id="social">
  <div class="social-content">
    <h2>Let's Connect</h2>
    <div class="social-icons">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/ankit-0725/" target="_blank">
            <span class="fa-brands fa-linkedin"></span
            ><span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/ankit-mangal" target="_blank">
            <span class="fa-brands fa-github"></span
            ><span class="sr-only">Github</span>
          </a>
        </li>
        <li>
          <a href="mailto:mangalankit843@gmail.com">
            <span class="fa-solid fa-envelope"></span
            ><span class="sr-only">Mail</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
